<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h2>All Job Postings</h2>
<a href="{% url 'job_add' %}" class="btn btn-primary mb-3">Post New Job</a>
<ul class="list-group">
    {% for job in object_list %}
    <li class="list-group-item">
        <a href="{% url 'job_detail' job.pk %}">{{ job.title }} @ {{ job.company }}</a>
    </li>
    {% empty %}
    <li class="list-group-item">No jobs posted.</li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>